  <form #f="ngForm" (ngSubmit)="onSubmit(f)" class = "form-horizontal">
    <div class="form-group"
    [ngClass]="aplicaCssErro(nome)">
    <div class="col-sm-12">
      <label for="nome" class="control-label">Nome</label>
    </div>
    <div class="col-sm-12">
      <input type="text" class="form-control" name="nome"
    id="nome" placeholder="Nome" ngModel
      required #nome="ngModel"
      >
      <app-campo-control-erro [mostrarErro]="verificaValidTouched(nome)">
      </app-campo-control-erro>
      <!--div>{{nome.className}}</div-->
      
    </div>
    
  </div>
  
  <div class="form-group "
  [ngClass]="aplicaCssErro(email)">
    <div class="col-sm-12">
      <label for="email" class = "control-label">E-mail</label>
    </div>
    
  <div class="col-sm-12">
    <input type="email" class="form-control" name = "email"
    id="email" placeholder="nome@email.com" ngModel
    required email #email="ngModel"> 

    </div>
  </div>

  <div>
  <div class="form-group">

      <div class="col-md-3"
      [ngClass]="aplicaCssErro(cep)">
        <label for="cep" class="control-label">CEP</label>
        <input type="text" class="form-control" id="cep" 
          name="cep" ngModel required #cep="ngModel"
          placeholder="XXXXX-XXX"
          (blur)="consultaCEP($event.target.value, f)">
          <app-campo-control-erro [mostrarErro]="verificaValidTouched(cep)"></app-campo-control-erro>

      </div>
  
      <div class="col-md-3"
      [ngClass]="aplicaCssErro(numero)">
        <label for="numero" class="control-label">Número</label>
        <input type="text" class="form-control" id="numero" 
          name="numero" ngModel #numero="ngModel"
          placeholder="Ex.: 22">
          <app-campo-control-erro [mostrarErro]="verificaValidTouched(numero)"></app-campo-control-erro>
          
      </div>
  
      <div class="col-md-6"
      >
        <label for="complemento" class="control-label">Complemento</label>
        <input type="text" class="form-control" id="complemento" 
          name="complemento" ngModel #complemento="ngModel"
          placeholder="Opcional">
      </div>
  
    </div>
 



    <div class="form-group">

        <div class="col-sm-12"
        [ngClass]="aplicaCssErro(rua)">
          <label for="rua" class="control-label">Rua</label>
        </div>
        
        <div class="col-sm-12">
          <input type="text" class="form-control" name="rua" 
            id="rua" ngModel #rua="ngModel"
            placeholder="Rua" >
            <app-campo-control-erro [mostrarErro]="verificaValidTouched(rua)"></app-campo-control-erro>
            
         </div>
      </div>


      <div class="form-group">
          <div class="col-md-5">
            <label for="bairro" class="control-label">Bairro</label>
            <input type="text" class="form-control" id="bairro" 
              name="bairro" ngModel #bairro="ngModel">

          </div>
      
          <div class="col-md-4">
            <label for="cidade" class="control-label">Cidade</label>
            <input type="text" class="form-control" id="cidade" 
              name="cidade" ngModel #cidade="ngModel">
 
          </div>
      
          <div class="col-md-3">
            <label for="estado" class="control-label">Estado</label>
            <input type="text" class="form-control" id="estado" 
              name="estado" ngModel #estado="ngModel">

          </div>
        </div>
      </div>


<button type="submit" class="btn btn-primary"[disabled]="!f.valid">Submit</button>


</form>