/* You can add global styles to this file, and also import other style files */
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

body {
    background-color: rgb(220, 255, 243);
    padding: 25px;
    margin: 10px;
    
}