/* You can add global styles to this file, and also import other style files */
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

body {
    
    background-color: rgb(249, 185, 255);
    padding: 25px;
    margin: 100px 100px;
    text-align: center;
  
    
}

.class-style-binding {
    text-align: center;
}
.event-binding {
    
    text-align: center;
}


.two-way-data-biding{ 

    text-align: center;


}