<section class="proprety-binding">

 
  <article>

    <h3 style="text-align: center; font-size: 40px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
     Interpolation/Interpolação
    </h3>
    <p> String com interpolação: {{  url }} </p>
    <p> O resultado de 1+1 não é {{  1 + 1 + getValor()  }} </p>
    <p>V and V =  {{  getTrue() && a }} </p>
    <img src= "{{urlImagem}}">
    <img [src] = "urlImagem">

  </article>
  <article>

    
  </article>
  <br>
  <br>

  <h3 style="text-align: center; font-size: 40px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
      Class e Style binding
     </h3>
<div>Selecione uma classe: <br>
  <select #classe (change) = "0">
    <option value ="alert-success">Sucesso</option>
    <option value ="alert-info">Info</option>
    <option value ="alert-warning">Alerta</option>
    <option value ="alert-danger">Erro</option>
    


  </select>
  <br>
  <br>


<div class="alert {{classe.value}}" role = "alert">
      Texto Colorido conforme valor do combobox.
</div>

<div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">
    This is a success alert—check it out!
</div>
<div class="alert" role="alert"   [class.alert-info]="classe.value == 'alert-info'">
        This is a info alert—check it out!
</div>
</div>
<div class="alert" role="alert"   [class.alert-warning]="classe.value == 'alert-warning'">
    This is a warning alert—check it out!
  </div>  
<div class="alert" role="alert"   [class.alert-danger] = "classe.value == 'alert-danger'">
      This is a danger alert—check it out!
</div>


<div class = "alert alert-danger"  role = "alert" [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
  Somente em caso de erro.
</div>

</section>
